/* ==========================================================================
  ACCEPT COOKIES
   ========================================================================== */
.accept-cookies {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 30px;
    background: #ccc;
    padding: 10px;
}

.accept-cookies a, .accept-cookies a:hover, .accept-cookies a:active {
    font-weight: bold;
}

.cookie-ok {
    cursor: pointer;
    background: #fff;
    margin: 3px 0 0 10px;
    display: inline-block;
    padding: 2px 15px;
    border-radius: 3px;
    color: #000;
}